// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**************************BOARDS****************************/
.imgProfil{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.acjaProfilImg{
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
a:hover {
    text-decoration: none;
  }
.acjaBoards{
    padding: 10px 0;
    width: 250px;
    height: 250px;
    background-size: cover;
}
.share{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*************************Table*****************************/
.acjatable{
    height: 20rem;
}
.acjaBoards h2 {

   color: #f1f1df;
   background-color: black;
   padding: 5px;
   border-radius: 10px;
   opacity: 0.7;
}


/*******Style List********/
.acjaccol {
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.829);
  padding: 3px;
}
.acjaColStyle{
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 219, 135);
    border-radius: 10px;
}
.acjaColStyle p{
    margin: 4px;
    color: rgb(35, 35, 44);
    font-weight: bold;
    font-size: 1rem;
}
.acjaColStyle button{
    background-color: transparent;
    border: none;
    margin: 4px;
}
.acjaColStyle button:hover{
    background-color: rgb(247, 194, 51);
    border-radius: 10px;
}

/*************Style card**************************/
.acjaCardStyle{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 0 5px;
    margin-top: 5px;
}
.acjaCardStyle:hover{
    background-color: rgb(226, 226, 226);

}
.acjaCardStyle [div]{
    text-align: left;
    border: none;
    flex: 9;

}

.acjaCardStyleImg img{
    visibility: hidden;
    width: 30px;
    flex: 1;
}
.acjaCardStyle:hover img{
    visibility: visible;

}
.acjaCardStyleImg img:hover{
    min-width: 30px;
    background-color: rgb(212, 204, 204);
}

.imgcom{
    width: 20px;
    background-color: transparent;
}
/**Ajout Commentaire à  Card**/
.cardScale:hover{
    transform: scale(1.5);
}
.acja-com-title{
    background-color:#66b3ff;
    border:0px solid white;
    border-radius:3px
}
.acja-com-content{
    justify-content: justify;
     background-color:lightgray;
      border:0px solid white;
       border-radius:3px
}

.acja-com-lign{
    word-break: break-word;
    max-width:250px;
}

.acja-auteur{
    color:purple;
    font-style: italic
}

.acja-del{
    width:30px;
    border:0px solid red;
    border-radius:3px
}
.acja-del:hover{
    transform: scale(1.5);
}

/******************FOOTER************************/

.acjafooter {
  text-align: center;
  background-color: black;
  color: wheat;
  padding: 0;
}

.ghostList{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: gray;
    height: auto;

}
/************VERIF FRONT***********/

.textFormAlert{
    color:red;
    font-size: 15px;
    font-weight: bold;
}
.mjjalertform{
    border: red solid 3px !important;
}

.acjatest{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
/*BOOTSTRAP MODIF*/
@media (min-width: 576px){
    .modal-dialog {
        max-width: 42rem;
        margin: 1.75rem auto;
    }
}
